
@layer base {
    body {
      @apply  text-text  text-center antialiased transition-smooth ;
      
    }
    header {
      @apply fixed top-0 left-0 w-full z-50 p-4 transition-smooth shadow-xl bg-background
    }

    main {
      @apply pt-[80px] container mx-auto transition-smooth 
    }
  
    footer {
      @apply w-full bg-footer text-text p-4 antialiased 
    }

    .section {
      @apply my-5 py-4
    }
  
    a {
      @apply font-medium decoration-inherit hover:text-accent
  
    }
  
    h1 {
      @apply text-5xl p-6 italic font-semibold ;
     
      /* font-weight: <weight>; */
      /* font-style: normal; */
      
    }
  
    button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      /* font-size: 1em; */
      /* font-weight: 500; */
      font-family: inherit;
      background-color: transparent;
      cursor: pointer;
      transition: border-color 0.25s;
    }
    button:hover {
      border-color: var(--accent);
    }
    button:focus,
    button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }