:root {
    --primary: #1f2937;
    --secondary: #4b5563;
    /* --background: #f7fafc; */
    --background: #c3eafa;
    --header: #e3f2f8;
    --footer: #b3deef;
    --card: #ffffff;
    --text: #495060;
    --accent: #3b82f6;
    --btn: #6497e8;
    
    color-scheme: light dark;
   
    background-color: var(--background);
  
    font-family: system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  .dark {
    --primary: #1f2937;
    --secondary: #4b5563;
    --background: #00191a;
    --header: #1e293b;
    --footer: #000e0f;
    --card: #1e293b;
    --text: #f8fafc;
    --accent: #60a5fa;
    --btn: #163c78;
  }
  
  