@import "tailwindcss";

:root {
  --primary: #1f2937;
  --secondary: #4b5563;

  /* --background: #f7fafc; */
  --background: #c3eafa;
  --header: #e3f2f8;
  --footer: #b3deef;
  --card: #ffffff;
  --text: #495060;
  --accent: #3b82f6;
  --btn: #6497e8;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  /* background-color:#2D3748; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --primary: #1F2937;
      --secondary: #4B5563;
    
      --background: #F7FAFC;
      --header: #E3F2F8;
      --footer: #e0e9f3;
      --card: #FFFFFF;
      --text: #495060;
      --accent: #3B82F6;
}} */

.dark {
  --primary: #1f2937;
  --secondary: #4b5563;
  --background: #00191a;
  --header: #1e293b;
  --footer: #000e0f;
  --card: #1e293b;
  --text: #f8fafc;
  --accent: #60a5fa;
  --btn: #163c78;
}
body {
  color: var(--text);
  width: 100vw;
  max-width: 1600px;
  background-color: var(--background);

  /* header {
    background-color: var(--header);
  } */

  main {
    width: 100vw;
    max-width: 1600px;
  }
}

footer {
  background-color: var(--footer);
}
a {
  font-weight: 500;
  /* color: --text */
  /* text-decoration: inherit; */
}
a:hover {
  color: var(--accent);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em; */
  /* font-weight: 500; */
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
